<h1>
Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Summarize commonly used libraries in Data Science.
- Introduce arithmetic expressions and their evaluations.
- Create a table of Data Science tools.
- Provide an overview of the Jupyter Notebook environment.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools  |
|------------------|
| Jupyter Notebook |
| RStudio |
| Apache Spark |

<h3>Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60 
hours

3.3333333333333335

<h2>Author</h2>
Rodrigo LÃ³pez